<a href="https://colab.research.google.com/github/Maureenchepkirui/ELECTRIC_CAR_SHARING/blob/main/Copy_of_Maureen__Chepkirui_WEEK4_IP_python_notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**RESEARCH QUESTION**

We will work as a Data Scientist for the Autolib electric car-sharing service company to investigate a claim about the blue cars from the provided Autolib dataset.

In an effort to do this, we need to identify some areas and periods of interest via sampling stating the reason for the choice of method, then perform hypothesis testing with regards to the claim that we will have made.

What is our hypothesis/ Research Question

Hypothesis testing using a z-score.

A sample from each postal area has been used. A 95% confidence level has also been used to test the hypothesis.

Null Hypothesis: The number of Bluecars taken from postal code 75015 is the same as in postal code 75017 during weekdays

(H0: μ1=μ2)

Alternative Hypothesis: The number of Bluecars taken from postal code 75015 is not the same as in postal code 75017 during weekdays

(H1:μ1≠μ2)

# **Importing Libraries**

In [3]:
# Importing the libraries we will need 

# Importing the pandas library
# 
import pandas as pd

# Importing the numpy library
#
import numpy as np

# **Reading the Dataset from our CSV file**

In [4]:
#loading the Autolib Dataset
df = pd.read_csv("http://bit.ly/autolib_dataset")

In [ ]:
#Previewing the Autolib dataset
df.head()

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 25 columns]

In [ ]:
#the tail
df.tail()

                          Address  Cars  Bluecar counter  ...  day  hour  minute
4995          8 avenue MÃ©nelotte     2                2  ...    6    11      26
4996            37 rue de Dantzig     4                4  ...    4    16      56
4997               142 rue du Bac     1                1  ...    1     7       1
4998  2 avenue du Val de Fontenay     2                2  ...    4    17      27
4999          5 Rue Henry Brisson     4                4  ...    8    10       2

[5 rows x 25 columns]

# **Data Understanding**

In [ ]:
## Information about the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

In [5]:
#checking dataset columns.
df.columns

Index(['Address', 'Cars', 'Bluecar counter', 'Utilib counter',
       'Utilib 1.4 counter', 'Charge Slots', 'Charging Status', 'City',
       'Displayed comment', 'ID', 'Kind', 'Geo point', 'Postal code',
       'Public name', 'Rental status', 'Scheduled at', 'Slots', 'Station type',
       'Status', 'Subscription status', 'year', 'month', 'day', 'hour',
       'minute'],
      dtype='object')

In [ ]:
#Getting the shape
df.shape

(5000, 25)

The dataset has 5000 rows and 25 columns.

In [ ]:
#getting the  statistical analysis
#
df.describe()

       Bluecar counter  Utilib counter  ...         hour       minute
count      5000.000000     5000.000000  ...  5000.000000  5000.000000
mean          2.333600        0.059600  ...    11.509200    29.270000
std           2.035274        0.246698  ...     6.893549    17.231741
min           0.000000        0.000000  ...     0.000000     0.000000
25%           0.000000        0.000000  ...     6.000000    14.000000
50%           2.000000        0.000000  ...    11.000000    29.000000
75%           4.000000        0.000000  ...    18.000000    44.000000
max           7.000000        2.000000  ...    23.000000    59.000000

[8 rows x 11 columns]

In [ ]:
#getting unique values
df.nunique()

Address                1104
Cars                      8
Bluecar counter           8
Utilib counter            3
Utilib 1.4 counter        4
Charge Slots              3
Charging Status           3
City                     88
Displayed comment        25
ID                     1105
Kind                      4
Geo point              1105
Postal code             107
Public name            1105
Rental status             4
Scheduled at              8
Slots                     8
Station type              3
Status                    3
Subscription status       3
year                      1
month                     1
day                       9
hour                     24
minute                   60
dtype: int64

# **Data Cleaning**

## Validity

In [ ]:
df.columns

Index(['Address', 'Bluecar counter', 'Utilib counter', 'Utilib 1.4 counter',
       'Charge Slots', 'Charging Status', 'City', 'Kind', 'Postal code',
       'Public name', 'Rental status', 'Scheduled at', 'Slots', 'Station type',
       'Status', 'Subscription status', 'day', 'hour', 'minute'],
      dtype='object')

In [ ]:
#Dropping  columns we do not need.
df.drop(['Address','Cars','Geo point','Displayed comment','ID','month'], axis = 1, inplace = True) 
df.head()

KeyError: ignored

## Completeness

In [ ]:
#checking for miising values across each column.
df.isnull().sum()

Address                   0
Bluecar counter           0
Utilib counter            0
Utilib 1.4 counter        0
Charge Slots              0
Charging Status           0
City                      0
Kind                      0
Postal code               0
Public name               0
Rental status             0
Scheduled at           4953
Slots                     0
Station type              0
Status                    0
Subscription status       0
day                       0
hour                      0
minute                    0
dtype: int64

In [ ]:
#Drop missing values 
df_no_missing = df.dropna()
df_no_missing

                            Address  Bluecar counter  ...  hour  minute
200            12 avenue de la gare                0  ...     5      39
271         9 rue Philibert Delorme                0  ...    16      46
303      10 rue Anatole de la Forge                0  ...    13      42
497      10 rue Anatole de la Forge                0  ...     5      22
925         282 avenue d'Argenteuil                0  ...     7      57
1095        282 avenue d'Argenteuil                0  ...    15      39
1152      2 avenue Georges Pompidou                0  ...    14      22
1243           12 avenue de la gare                0  ...     3      56
1265         1 rue de lâÃ©galitÃ©                0  ...     7      24
1300     10 rue Anatole de la Forge                0  ...    19      14
1301      2 avenue Georges Pompidou                0  ...     9      51
1535      2 avenue Georges Pompidou                0  ...    22      58
1555        9 rue Philibert Delorme                0  ...    10       2
1570        282 avenue d'Argenteuil                0  ...    21      31
1853        282 avenue d'Argenteuil                0  ...     5      20
2010             20 Rue Frida Kahlo                0  ...    15      58
2026        9 rue Philibert Delorme                0  ...    18      22
2030           24 rue des Cheminots                0  ...    16       4
2084        9 rue Philibert Delorme                0  ...     6      27
2556           12 avenue de la gare                0  ...    17       2
2604        9 rue Philibert Delorme                0  ...    13      13
2637      2 avenue Georges Pompidou                0  ...     0      11
2667             20 Rue Frida Kahlo                0  ...    14      13
2815      2 avenue Georges Pompidou                0  ...     3      49
2831             20 Rue Frida Kahlo                0  ...     8      43
2958      2 avenue Georges Pompidou                0  ...    15      32
2985        9 rue Philibert Delorme                0  ...     8      21
3178  21 rue de l'Ecole de Medecine                0  ...    20       9
3334     10 rue Anatole de la Forge                0  ...     8      29
3382        9 rue Philibert Delorme                0  ...    13      13
3444             20 Rue Frida Kahlo                0  ...    23      33
3508  21 rue de l'Ecole de Medecine                0  ...     8      27
3568             20 Rue Frida Kahlo                0  ...     8      26
3677  21 rue de l'Ecole de Medecine                0  ...     4      35
3870     10 rue Anatole de la Forge                0  ...     9       0
4152           12 avenue de la gare                0  ...     3      54
4301         1 rue de lâÃ©galitÃ©                0  ...     1      55
4371           24 rue des Cheminots                0  ...     4      59
4372     10 rue Anatole de la Forge                0  ...    12       1
4397             20 Rue Frida Kahlo                0  ...     2      24
4448           24 rue des Cheminots                0  ...    12       7
4473           24 rue des Cheminots                0  ...    16       8
4616             20 Rue Frida Kahlo                0  ...    19      16
4689           12 avenue de la gare                0  ...    19      18
4701           12 avenue de la gare                0  ...     2      36
4743        9 rue Philibert Delorme                0  ...     7      29
4824         1 rue de lâÃ©galitÃ©                0  ...    15       1

[47 rows x 19 columns]

## Consistency

In [ ]:
#checking for duplicates
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
4995    False
4996    False
4997    False
4998    False
4999    False
Length: 5000, dtype: bool

In [7]:
#arranging date and time systematically.
df1=df.sort_values(['day','hour'], ascending=[True, True])
df1

                                Address  Cars  ...  hour  minute
123                       35 rue Mathis     0  ...     0      32
459               170 boulevard Pereire     3  ...     0      37
584                   1 rue de l'Avenir     7  ...     0       5
978            2 Rue Fabre d'Ãglantine     2  ...     0      33
1026               12 Avenue de Messine     4  ...     0      34
...                                 ...   ...  ...   ...     ...
3899       92 Boulevard des Batignolles     3  ...    23      24
4443  31 Bis Rue du Faubourg Montmartre     0  ...    23      58
4582                  82 rue de CrimÃ©e     5  ...    23      56
4956                 3 rue de Vaugirard     0  ...    23      32
4992                    3 avenue d'Ivry     0  ...    23       1

[5000 rows x 25 columns]

In [ ]:
#Inorder to answer the research questions, we will need to filter the data
#The first step is to create a new column where we'll find the difference in the 
#number of blue cars at the station/counter
df['Bluecar_Difference'] = df['Bluecar counter'].diff()
df.head()

                              Address  ...  Bluecar_Difference
0                 2 Avenue de Suffren  ...                 NaN
1           145 Rue Raymond Losserand  ...                 6.0
2    2 Avenue John Fitzgerald Kennedy  ...                -3.0
3              51 Rue EugÃ¨ne OudinÃ©  ...                 0.0
4  6 avenue de la Porte de Champerret  ...                 0.0

[5 rows x 20 columns]

# **Answering Questions**

**Blue Car**

In [ ]:
#Question 1
#Identify the most popular hour of the day for picking up a shared electric car 
#(Bluecar) in the city of Paris over the month of April 2018.
paris = df[df['City'] =='Paris'] 
paris.head()
paris[paris['Bluecar_Difference'] > 0].groupby('hour')['hour'].count().sort_values(ascending= False).head()

hour
3     49
12    48
10    48
6     46
8     44
Name: hour, dtype: int64

21 is the most popular hour for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018.

In [ ]:
#Question 2
#What is the most popular hour for returning cars?
paris[paris['Bluecar_Difference'] < 0].groupby('hour')['hour'].count().sort_values(ascending= False).head()

hour
21    80
16    68
7     64
13    62
5     62
Name: hour, dtype: int64

In [8]:
df1.head()

                       Address  Cars  Bluecar counter  ...  day  hour  minute
123              35 rue Mathis     0                0  ...    1     0      32
459      170 boulevard Pereire     3                3  ...    1     0      37
584          1 rue de l'Avenir     7                7  ...    1     0       5
978   2 Rue Fabre d'Ãglantine     2                2  ...    1     0      33
1026      12 Avenue de Messine     4                4  ...    1     0      34

[5 rows x 25 columns]

In [ ]:
#Question 3
#What station is the most popular?
df1[df1['City'] =='Paris'][df1['Kind']=='STATION'][df1['Status']=='ok'].groupby('Public name')['Public name'].count().sort_values(ascending=False).head(3)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until

Public name
Paris/Porte de Montrouge/8    13
Paris/Voltaire/182            11
Paris/Courcelles/69           11
Name: Public name, dtype: int64

In [ ]:
#Question 4
#Most popular station overally.
df1[df1['Kind']=='STATION'][df1['Status']=='ok'].groupby('Public name')['Public name'].count().sort_values(ascending=False).head(3)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

Public name
Paris/Porte de Montrouge/8    13
Paris/Courcelles/69           11
Paris/Voltaire/182            11
Name: Public name, dtype: int64

In [ ]:
#Question 5
#What postal code is the most popular for picking up Blue cars? 
paris[paris['Bluecar_Difference'] > 0].groupby('Postal code')['Postal code'].count().sort_values(ascending= False).head()

Postal code
75015    112
75016    110
75017     96
75020     80
75011     71
Name: Postal code, dtype: int64

Utilib Analysis

In [ ]:
#creating a new column which will contain the cumulative difference 
#for the Utilib Counter
df1['Utilib_Diff'] =df1['Utilib counter'].diff()
df1.head(5)

                       Address  Bluecar counter  ...  minute  Utilib_Diff
123              35 rue Mathis                0  ...      32          NaN
459      170 boulevard Pereire                3  ...      37          0.0
584          1 rue de l'Avenir                7  ...       5          0.0
978   2 Rue Fabre d'Ãglantine                2  ...      33          0.0
1026      12 Avenue de Messine                4  ...      34          0.0

[5 rows x 20 columns]

In [ ]:
#Question 1
#Identify the most popular hour of the day for picking up Utilib 
#in the city of Paris over the month of April 2018.
df1[df1['City'] =='Paris'][df1['Utilib_Diff'] < 0].groupby('hour')['hour'].count().sort_values(ascending= False).head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.

hour
11    9
13    9
21    8
Name: hour, dtype: int64

In [ ]:
#Question 2
#What is the most popular hour for returning cars?
df1[df1['City'] =='Paris'][df1['Utilib_Diff']< 0].groupby('hour')['hour'].count().sort_values(ascending= False).head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until

hour
11    9
13    9
21    8
Name: hour, dtype: int64

In [ ]:
#Question 3
#What postal code is the most popular for picking up Blue cars? 
df1[df1['City'] =='Paris'][df1['Utilib_Diff']< 0].groupby('Postal code')['Postal code'].count().sort_values(ascending= False).head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until

Postal code
75015    19
75019    13
75018    11
Name: Postal code, dtype: int64

**Utilib 1.4**

In [13]:
#creating a new column which will contain the cumulative difference 
#for the Utilib 1.4 Counter
df1['Utilib 1.4_Diff'] =df1['Utilib 1.4 counter'].diff()
df1.head(5)

                       Address  Cars  ...  minute  Utilib 1.4_Diff
123              35 rue Mathis     0  ...      32              NaN
459      170 boulevard Pereire     3  ...      37              0.0
584          1 rue de l'Avenir     7  ...       5              0.0
978   2 Rue Fabre d'Ãglantine     2  ...      33              0.0
1026      12 Avenue de Messine     4  ...      34              0.0

[5 rows x 26 columns]

In [14]:
#Question 1
#Identify the most popular hour of the day for picking up Utilib 
#in the city of Paris over the month of April 2018.
df1[df1['City'] =='Paris'][df1['Utilib 1.4_Diff'] < 0].groupby('hour')['hour'].count().sort_values(ascending= False).head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.

hour
6     17
3     17
16    14
5     14
14    14
Name: hour, dtype: int64

In [15]:
#Question 2
#What is the most popular hour for returning cars?
df1[df1['City'] =='Paris'][df1['Utilib 1.4_Diff']> 0].groupby('hour')['hour'].count().sort_values(ascending= False).head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until

hour
21    17
10    16
9     16
17    14
22    14
Name: hour, dtype: int64

In [16]:
#Question 3
#What postal code is the most popular for picking up Blue cars? 
df1[df1['City'] =='Paris'][df1['Utilib 1.4_Diff']< 0].groupby('Postal code')['Postal code'].count().sort_values(ascending= False).head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until

Postal code
75015    28
75017    27
75016    21
75013    20
75012    18
Name: Postal code, dtype: int64